.FAQ_harsh {
    width: 100%;
    height: fit-content;
    background: linear-gradient(to bottom, #f2f8ff, #a2d2ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
padding-bottom: 50px;
}

.faq_heading_harsh {
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32PX;
    font-weight: 900;
    padding: 10px;
    font-family: cursive;
    color: rgb(18, 111, 169);

}

.faqdiv_harsh {
    width: 80%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.faqdiv_parts {
    width: 500px;
    height: 110px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faquestion_icon_harsh {
    width: 90%;
    height: 90px;
    position: absolute;
    background-color: black;
    border-radius: 30px;
    color: rgb(12, 75, 138);
    font-size: 16px;
    display: flex;
    font-weight: 600;
    align-items: center;

    background: linear-gradient(to top left, white, rgb(149, 183, 202));
}

.question_icon_harsh {
    width: 50px;
    height: 50px;

    margin-left: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    animation-name: icon_faq1_animine;
    animation-duration: 1s;
    background: linear-gradient(to bottom, #f2f8ff, #a2d2ff);
}

.question_harsh {
    width: 80%;
    height: 100%;
    font-size: 20px;
    display: flex;
    position: absolute;
    margin-left: 10px;
    align-items: center;
    position: relative;
    

}

.faq_answer_harsh {
    color: white;
    position: absolute;
    width: 100%;
    display: none;
    border-radius: 15px;
    height: fit-content;
    padding: 10px;
    top: 80%;
    text-align: center;

    z-index: 9;
    background: linear-gradient(to bottom, #a0bddf, #075298);
}

.question_harsh:hover {
    .faq_answer_harsh {
        display: block;
    }
}

@media screen and (max-width:800px) {
    .faq_heading_harsh {
        font-size: 20px;
    }

    .question_harsh {
        font-size: 16px;

    }
}

.FAQ_harsh:hover .faq1_harsh {
    left: 0;
    animation-name: question_odd_move;
    animation-duration: 0.5s;
    
}

.FAQ_harsh:hover .faq3_harsh {
    left: 0;
    animation-name: question_odd_move;
    animation-duration: 1.5s;
}

.FAQ_harsh:hover .faq5_harsh {
    left: 0;
    animation-name: question_odd_move;
    animation-duration: 2.5s;
}

.FAQ_harsh:hover .faq7_harsh {
    left: 0;
    animation-name: question_odd_move;
    animation-duration: 3.5s;
}

.FAQ_harsh:hover .faq2_harsh {
    right: 0;
    animation-name: question_even_move;
    animation-duration: 1s;
   
}

.FAQ_harsh:hover .faq4_harsh {
    right: 0;
    animation-name: question_even_move;
    animation-duration: 2s;
}

.FAQ_harsh:hover .faq6_harsh {
    right: 0;
    animation-name: question_even_move;
    animation-duration: 3s;
}

.FAQ_harsh:hover .faq8_harsh {
    right: 0;
    animation-name: question_even_move;
    animation-duration: 4s;
}

@keyframes question_odd_move {
    0% {
        left: -150%;
        transform: rotateX(0deg);
    }

    100% {
        left: 0;
        transform: rotateX(360deg);
    }
}

@keyframes question_even_move {
    0% {
        right: -150%;
        transform: rotateX(0deg);
    }

    100% {
        right: 0;
        transform: rotateX(360deg);
    }
}